nav {
    position: fixed;
    z-index: 15;
    background-color: white;
    transform: translateX(-30vw);
    font-family: 'MADE Soulmaze Regular';
}

.ellipse {
    position: fixed;
    top: 27px;
    left: 25px;
}

#ellipse3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ellipse2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ellipse1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav_content {
    background-color: white;
    position: relative;
    width: 30vw;
    height: 100vh;
    padding: 50px;
    font-size: 30px;
    text-align: end;
    line-height: 100px;
}

#nav_img {
    height: 345px;
    position: absolute;
    left: -65px;
    bottom: 0px;
}

#nav_button {
    position: fixed;
    z-index: 20;
}

.red {
    fill: #D62828;
}

.white {
    stroke: white;
}

// .hide {
//     display: none;
//     transform: scaleX(1.1);
//     transition: all 0.3s ease-in-out;
// }
a {
    color: #5893B1;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    /*   display: inline-block; */
    padding: 15px 20px;
    position: relative;
}

a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #F77F00;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover::after {
    width: 100%;
    left: 0;
    color: #003049;
}

a:hover {
    color: #003049;
}

@media screen and (max-width:700px) {
    nav {
        transform: translateX(-100vw);
    }
    #nav_content {
        width: 100vw;
        height: 40vh;
        font-size: 24px;
        text-align: center;
        line-height: 60px;
        padding: 0 0 80px 0;
    }
    #nav_img {
        display: none;
    }
}

.nav_black_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0004;
    z-index: 10;
    opacity: 100%;
    transition: all 0.2s linear;
}

.hide {
    opacity: 0;
    pointer-events: none;
}